*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
}

.calculator {
  width: 100%;
  background-color: #ffffff;
}

.display{
  padding: 16px;
  text-align: right;
  background-color: gray;
  font-size: 1.7rem;
}

.display span {
  font-size: 1.3rem;
  margin-right: 5px;
}


button {
  border: none;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.4s;
}

.operators {
  display: flex;
}

.operators button {
  flex: 1 1 0%;
}

.digits {
  display: flex;
  flex-wrap: wrap;
}

.digits button {
  flex: 1 1 33.333%;
  max-width: 33.333%;
}